{% extends "base.html.twig" %}

{% block body %}
    <div class="col-4 mt-4">
        <h2 >Winkel Cat</h2>

        {% for department in departments  %}
            {{ department.departmentId  }}
            {{ department.departmentName  }}
        {% endfor %}




    </div>
{% endblock %}
