{% extends "base.html.twig" %}

{% block body %}
    <div class="col-4 mt-4">
        <h2 >Winkel route</h2>

        <label for="stores">Kies een winkel</label>
        <form method="post" action="{{ path('app_routes_showdetailtwig') }}">
        <select class="form-select" name="stores" id="stores">
            {% for store in stores  %}
            <option value="{{ store.storeId  }}">  {{ store.storeName }}</option>
            {% endfor %}
        </select>
            <button type="submit" class="btn btn-primary m-2">Select</button>
        </form>


    </div>
{% endblock %}
